.fondo
{
  background-image: url('fondo.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: relative;
}


h1
{
  color: purple;
  text-align: center;
  background-color: aquamarine;
  text-transform: uppercase;
}
h3{
  color:navy ;
  text-align: center;
  background-color:  gold;
  text-transform: uppercase;

}



#pantalla1{
  text-align: center;
  font-size: 20px;

}

#contenedor{
  background-color: black;
  padding: 5%;
  overflow: hidden;
  margin: 0 auto;
}
#inic1{
float: left;
width:10%;
text-align: center;
padding: 5px 10px ;
margin:auto;
}

#inic2{
float:right;
width:10%;
text-align: right;
padding: 5px 10px ;
margin:auto;
}


 #capturar-name{
   background-color: slateblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid gray;

  }
  #arte{
    background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 20px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid gray;
  }

  #geografia{
    background-color: Green;
  border: none;
  color: white;
  padding: 20px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid gray;
  }

  #art2{
    background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 20px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid gray;
  }

  #geo2{
    background-color: Green;
  border: none;
  color: white;
  padding: 20px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid gray;
  }

  #pantalla2{
    text-align: center;
    display: none;
    border-radius: 20px;

  }

  #tema1{
    text-align: center;
    display: none;
    border: 1px solid;
   padding: 10px;
   box-shadow: 5px 10px 8px #888888;


  }

  #tema2{
    text-align: center;
    display: none;

  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border-radius: 8px;
  }

#volverajugar{
  text-align: center;
  display: none;
}

}
#section2 {
  background-color: slateblue;
  padding-bottom: 60px;
  width: 100%;
  border-radius: 2%;
  color: lavender;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
h2{
  background-color: salmon;
  text-align: center;
}

#confeti{
  float:center;
  width:10%;
  height: 25%;
  margin:auto;

}

 
